@import '../scss/mixins';
@import '../scss/variables';

.cart--card {
    background-color: white;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border: 1px solid $primary;
    border-radius: 8px;
}

.cart--name {
    font-size: 20px;
    margin: 0;
}

.cart--price {
    font-size: 16px;
    margin-top: 8px;
}

.text--container {
    display: flex;
    justify-content: space-between;
}

.cart--img {
    height: 60px;
    width: auto;
}

.btn--delete {
    @include buttons(aliceblue, 0.2rem, 0.5rem, 1rem);
    margin: 5px 5px;
}

.btn--delete__all {
    @include buttons($primary, 0.2rem, 0.5rem, 1rem);
    margin: 5px 5px;
    
}