@import '../scss/mixins';
@import '../scss/variables';

.nav--container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    margin: 0;
    padding: 10px 25px;
    background-color: $primary;
    box-shadow: 1px 1px 20px;
}

.btn--carro {
   @include buttons(aliceblue, 0.62rem, 1.25rem, 1rem);
   padding: 0.62rem, 1.25rem;
   margin: 0px 4.2em;
}