.search-input {
    position: absolute;
    right: 580px;
    height: 16px;
}

.search-container {
    position: relative;
    background-color: red;
    padding: 6px 0;
}

.search-item {
    margin: 0;
    padding: 5px;
}