@import '../scss/variables';

.card--container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem 5rem;
}

.cart--empty {
    text-align: center;
}

.cart--container {
    background-color: aliceblue;
    height: fit-content;
    min-width: 16.125rem;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px; 
    position: absolute; 
    top: 5rem; 
    right: 1.5rem;
    box-shadow: 3px 3px 12px 2px hsl(157, 95%, 10%) ; 
}