@mixin buttons($color, $paddingX, $paddingY, $font-size) {
    background-color: $color;
    font-size: $font-size;
    height: fit-content;
    padding: $paddingX $paddingY;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.8);
    cursor: pointer;
    &:active {
        box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
    }
}